  <div id="main">
    <div id="header" [ngStyle] = "{'background-color':headerColor}">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1 [ngStyle]="{'color':logoColor}">simplestyle_purple</h1>
          <h2 [ngStyle]="{'color':logoColor}">Simple. Contemporary. Website Template.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li class="selected"><a href="index.html">Home</a></li>
          <li (click)="switchTheme()" ><a>Switch Theme</a></li>
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content" [ngStyle]="{'backgroundColor':mainColor}">
      <div id="banner" [ngStyle]="{'border-color': borderColor, 'background-image': bannerImage}"></div>
	  <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <!-- insert your sidebar items here -->
            <h3 [ngStyle]="{'color':headingColor}">Latest News</h3>
            <h4 [ngStyle]="{'color':headingColor}">New Website Launched</h4>
            <h5 [ngStyle]="{'color':headingColor}">February 1st, 2014</h5>
            <p [ngStyle]="{'color':contentColor, 'font-size': contentSize, 'font-family': contentFont}">2014 sees the redesign of our website. Take a look around and let us know what you think.<br /><a href="#">Read more</a></p>
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3 [ngStyle]="{'color':headingColor}">Useful Links</h3>
            <ul>
              <li><a href="#">link 1</a></li>
              <li><a href="#">link 2</a></li>
              <li><a href="#">link 3</a></li>
              <li><a href="#">link 4</a></li>
            </ul>
          </div>
          <div class="sidebar_base"></div>
        </div>
        
      </div>
      <div id="content">
        <!-- insert the page content here -->
        <h1 [ngStyle]="{'color':headingColor}">Welcome to the simplestyle_purple template</h1>
        <p [ngStyle]="{'color':contentColor, 'font-size': contentSize, 'font-family': contentFont}">This standards compliant, simple, fixed width website template is released as an 'open source' design (under a <a href="http://creativecommons.org/licenses/by/3.0">Creative Commons Attribution 3.0 Licence</a>), which means that you are free to download and use it for anything you want (including modifying and amending it). All I ask is that you leave the 'design from HTML5webtemplates.co.uk' link in the footer of the template, but other than that...
        This template is written entirely in <strong>HTML5</strong> and <strong>CSS</strong>, and can be validated using the links in the footer.
        You can view more free HTML5 web templates <a href="http://www.html5webtemplates.co.uk">here</a>.
        This template is a fully functional 5 page website, with an <a href="examples.html">examples</a> page that gives examples of all the styles available with this design.</p>
        <h2 [ngStyle]="{'color':headingColor}">Browser Compatibility</h2>
        <p [ngStyle]="{'color':contentColor, 'font-size': contentSize, 'font-family': contentFont}">This template has been tested in the following browsers:</p>
        <ul>
          <li [ngStyle]="{'color':contentColor, 'font-size': contentSize, 'font-family': contentFont}">Internet Explorer 9</li>
          <li [ngStyle]="{'color':contentColor, 'font-size': contentSize, 'font-family': contentFont}">FireFox 25</li>
          <li [ngStyle]="{'color':contentColor, 'font-size': contentSize, 'font-family': contentFont}">Google Chrome 31</li>
        </ul>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer" [ngStyle] = "{'background-color':headerColor}">
      <p><a [ngStyle]="{'color':menuColor}" href="index.html">Home</a> | <a [ngStyle]="{'color':menuColor}" href="examples.html">Examples</a> | <a [ngStyle]="{'color':menuColor}" href="page.html">A Page</a> | <a [ngStyle]="{'color':menuColor}" href="another_page.html">Another Page</a> | <a [ngStyle]="{'color':menuColor}" href="contact.html">Contact Us</a></p>
      <p>Copyright &copy; simplestyle_purple | <a [ngStyle]="{'color':menuColor}" href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a [ngStyle]="{'color':menuColor}" href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a [ngStyle]="{'color':menuColor}" href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
  </div>

